

  /* --------------------------
    SVG Main Fills
  --------------------------- */

  #logo-paw{
    fill:#f4c6a6;
  }

  #corgi-red-face, #corgi-red-left-ear, #corgi-red-right-ear,
  #corgi-sable-eyebrows, #blacktan-eyebrows,
  #blacktan-ears, #logo-background{
      fill:#ba8058;
  }

  #corgi-red-eyes-nose, #fawn-eyes-nose,
  #sable-nose-eyes, #blacktan-eyes-nose,
  #corgi-red-eyebrows{
    fill: #2D3339;
  }

  #corgi-red-beak, #fawn-beak,
  #sable-beak, #blacktan-beak{
    fill:#fbfeff;
  }

  #fawn-left-ear, #fawn-right-ear,
  #fawn-face{
    fill:#EAAA7F;
  }



  #fawn-eyebrows{
    fill:#F2C3A2;
  }

  #sable-face, #sable-left-ear,
  #sable-right-ear{
    fill:#844B24;
  }

  #blacktan-face{
    fill:#52595f;
  }
