

  /* --------------------------
    SVG Main Fills
  --------------------------- */

  #logo-paw{
    fill: $lighttan;
  }

  #corgi-red-face, #corgi-red-left-ear, #corgi-red-right-ear,
  #corgi-sable-eyebrows, #blacktan-eyebrows,
  #blacktan-ears, #logo-background{
      fill: $mustard2;
  }

  #corgi-red-eyes-nose, #fawn-eyes-nose,
  #sable-nose-eyes, #blacktan-eyes-nose{
    fill: $off-black;
  }

  #corgi-red-eyebrows{
    fill: $tan;
  }

  #corgi-red-beak, #fawn-beak,
  #sable-beak, #blacktan-beak{
    fill: $off-white2;
  }

  #fawn-left-ear, #fawn-right-ear,
  #fawn-face{
    fill: $tan;
  }


  #fawn-eyebrows{
    fill:$lighttan;
  }

  #sable-face, #sable-left-ear,
  #sable-right-ear{
    fill: $brown-dog;
  }

  #blacktan-face{
    fill: $medium-dark-grey;
  }
